:root {
    /*fonts*/
    --primary-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

/*----------------------------------------------------------- header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.header img {
    width: 150px;
    margin: 1em 0 0 1em;
}

/*----------------------------------------------------------- nav bar*/
.header .header__nav {
    margin-right: 8em;
}

.header .header__nav .header__nav--profile {
    display: flex;
    align-items: center;
    width: 70px;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.header .header__nav .header__nav--profile img {
    width: 50px;
    margin-right: 1em;
}

.header .header__nav .header__nav--menu {
    display: none;
    width: 100px;
    text-align: right;
    list-style: none;
    position: absolute;
}

.header .header__nav .header__nav--menu li {
    margin: 15px 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.header .header__nav .header__nav--menu li a {
    color: white;
    text-decoration: none;
}

.header .header__nav .header__nav--menu li a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.header .header__nav:hover .header__nav--menu,
.header__nav--menu:hover {
    display: block;
}

/*----------------------------------------------------------- section search*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .main__section--search {
    max-width: 900px;
    width: 100%;
    height: 200px;
    margin-top: 10em;
}

.main .main__section--search h2 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

input[type=search] {
    width: 70%;
    margin-top: 3em;
    padding: 1em;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    outline: none;
}

::placeholder {
    color:white;
}

/*----------------------------------------------------------- section carousel*/
.main .main__section--carousel {
    width: 100%;
    padding: 30px;
    position: relative;
    overflow: scroll;
}

.main .main__section--carousel .carousel__container {
    /*seguirán los elementos alineandose a lo ancho*/
    white-space: nowrap;
    margin: 7em 0;
    padding-bottom: 1em;
}

.main .main__section--carousel .carousel__item {
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin-right: 1em;
    transition: all 0.3s ease;
    transform-origin: center left;
    background-color: #FBDA61;
    overflow: hidden;
    cursor: pointer;
}

.main .main__section--carousel .carousel__item:hover ~ .carousel__item {
    transform: translate3d(100px, 0, 0);
}

.main .main__section--carousel .carousel__container:hover .carousel__item {
    opacity: 0.3;
}

.main .main__section--carousel .carousel__container:hover .carousel__item:hover {
    transform: scale(1.5);
    opacity: 1;
}